body{
    margin: 0;
    padding: 0;
    background-color: rgb(60, 75, 90);
    width: 100%;
}
.container{
    position: relative;
    margin-left: 24rem;
}
h1{
    text-align: center;
    color: rgb(0, 9, 139);
    font-size: 5rem;
    font-family:cursive;
    font-style: italic;
}
.dice{
    display: inline-block;
    padding: 3rem;
}
.dice p{
    color: rgb(230, 223, 223);
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-family: cursive;
}
.dice img{
    height: 12rem;
    width: 12rem;
}
